body {
  background: #141414;
  color: #ffffff;
}

.movie-app > .row {
  overflow-x: auto;
  flex-wrap: nowrap;
}

.image-container {
  position: relative;
  transition: transform 0.2s;
  float: left;
  background-color: #fff;
  margin: 25px;
  color: #440a67;
}

.image-container:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.image-container:hover .overlay {
  opacity: 1;
}

.overlay {
  position: absolute;
  background: rgba(0, 0, 0, 0.8);
  width: 100%;
  transition: 0.5s ease;
  opacity: 0;
  bottom: 0;
  font-size: 20px;
  padding: 20px;
  text-align: center;
}

.filter-header {
  color: #212529;
  color: #f8f9fa;
  border-color: #f8f9fa;
  border-radius: 0.3rem;
  padding: 0.625rem 1.5625rem 0.5625rem;
}

.p-3 {
  padding: 1rem !important;
}
.h-100 {
  height: 100% !important;
}
.shadow {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
}

.rounded {
  border-radius: 0.25rem !important;
}
.bg-white {
  background-color: #fff !important;
}
.left {
  float: left;
}
.right {
  float:right;
}


.badge {
  display: inline-block;
  padding: .25em .4em;
  font-size: 75%;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: .25rem;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.badge-pink {
  color: #fff;
  background-color: #ed2c6c!important;
}

.out-a {
  color: #ae4ba8;
}

.whte-space{
  white-space: nowrap;
}
.pb-2, .py-2 {
  padding-bottom: .5rem!important;
}
.mb-2, .my-2 {
  margin-bottom: .5rem!important;
}
.align-items-center {
  -ms-flex-align: center!important;
  align-items: center!important;
}
.d-flex {
  display: -ms-flexbox!important;
  display: flex!important;
}
.border-bottom {
  border-bottom: 1px solid #dee2e6!important;
}

.rounded-circle {
  border-radius: 50%!important;
}
.box-32px {
  width: 32px;
  height: 32px;
}
img {
  vertical-align: middle;
  border-style: none;
}


p-2 {
  padding: .5rem!important;
}
.w-100 {
  width: 330px!important;
}
.d-inline-block {
  display: inline-block!important;
}


img {
    vertical-align: middle;
    border-style: none;
}


.nav-link{ padding-right:22px!important; }


.modali-body {
  color: #212529;
}

.cover {
  background-color:#7868e6
}

.d-block{

  color:#000
}


.error-template {padding: 40px 15px;text-align: center; }
.error-template img {  border-radius: 5%;}

.error-actions {margin-top:15px;margin-bottom:15px;}
.error-actions .btn { margin-right:10px; }

.loader {
  max-width: 15rem;
  width: 100%;
  height: auto;
  stroke-linecap: round;
}

circle {
  fill: none;
  stroke-width: 3.5;
  -webkit-animation-name: preloader;
          animation-name: preloader;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-transform-origin: 170px 170px;
          transform-origin: 170px 170px;
  will-change: transform;
}
circle:nth-of-type(1) {
  stroke-dasharray: 550;
}
circle:nth-of-type(2) {
  stroke-dasharray: 500;
}
circle:nth-of-type(3) {
  stroke-dasharray: 450;
}
circle:nth-of-type(4) {
  stroke-dasharray: 300;
}
circle:nth-of-type(1) {
  -webkit-animation-delay: -0.15s;
          animation-delay: -0.15s;
}
circle:nth-of-type(2) {
  -webkit-animation-delay: -0.3s;
          animation-delay: -0.3s;
}
circle:nth-of-type(3) {
  -webkit-animation-delay: -0.45s;
  -moz-animation-delay:  -0.45s;
          animation-delay: -0.45s;
}
circle:nth-of-type(4) {
  -webkit-animation-delay: -0.6s;
  -moz-animation-delay: -0.6s;
          animation-delay: -0.6s;
}

@-webkit-keyframes preloader {
  50% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes preloader {
  50% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.wrg-toggle {
  touch-action: pan-x;
  display: inline-block;
  position: relative;
  cursor: pointer;
  background-color: transparent;
  border: 0;
  padding: 0;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-tap-highlight-color: transparent;
}

.wrg-toggle-input {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.wrg-toggle-check, .wrg-toggle-uncheck {
  position: absolute;
  width: 10px;
  height: 10px;
  top: 0;
  bottom: 0;
  margin-top: auto;
  margin-bottom: auto;
  line-height: 0;
  opacity: 0;
  transition: opacity .25s ease;
}
.wrg-toggle-check {
  left: 8px;
}
.wrg-toggle-uncheck {
  opacity: 1;
  right: 10px;
}

.wrg-toggle-uncheck span, 
.wrg-toggle-check span {
  align-items: center;
  display: flex;
  height: 10px;
  justify-content: center;
  position: relative;
  width: 10px;
}

.wrg-toggle-container{
  width: 50px;
  height: 24px;
  padding: 0;
  border-radius: 30px;
  background-color: #4d4d4d;
  transition: all .2s ease;
  color: #fff;
}

.wrg-toggle-circle{
  transition: all .5s cubic-bezier(.23,1,.32,1) 0ms;
  position: absolute;
  top: 1px;
  left: 1px;
  width: 22px;
  height: 22px;
  border: 1px solid #4d4d4d;
  border-radius: 50%;
  background-color: #fafafa;
  box-sizing: border-box;
  transition: all .25s ease;
}

.wrg-toggle--checked .wrg-toggle-check{
  opacity: 1;
}
.wrg-toggle--checked .wrg-toggle-uncheck {
  opacity: 0;
}
.wrg-toggle--checked .wrg-toggle-circle {
  left: 27px;
}

.wrg-toggle--disabled {
  cursor: not-allowed;
  opacity: 0.5;
  -webkit-transition: opacity 0.25s;
  transition: opacity 0.25s;
}

.sidebar {
  background-color: #fbe6c2;
  border-radius: 10px;
  padding: 15px;
  color:#000;
  height: 750px;
}

.card-header {
  padding: 10px !important;
}
.form-check-input {
  position: relative !important;
  padding: 5px 20px;
}
.card-body {
  padding: 20px 0px 20px 20px;
}

.btn-light{ background-color: #fff !important; }
.btn-dark{ background-color: #000  !important; }
.btn-material{ background-color: #6a1b9a  !important; }
.btn-sharp{ background-color: #ffeb3b  !important; }
.btn-calm{ background-color: #80cbc4  !important; }
.btn-cherryBonBon{ background-color: #c62828  !important; }
.btn-seaWave{ background-color: #9be7ff  !important; }
.margin-right { margin-right: 20px; }

.white-block{
  color:#fff !important;
  padding: 10px 10px;
}